<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" src="static/styles.css">
    <title>Gambit's Parana</title>
</head>



<body>
    <navbar>
        <a href="#who">Who Are We?</a>
        <a href="#what">What Do We Do?</a>
        <a href="#why">Why Gambling is Addictive</a>
    </navbar>

    <banner class="banner">
        <img alt="Banner" src="">
    </banner>



    <main>
        <header>
            <h1>Gambit's Parana</h1>
            <h2>Stopping Your gambling addiction one step at a time.</h2>
        </header>

        <article>
            <h3 id="who">Who Are We?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>

        <article>
            <h3 id="what">What Do We Do?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <aside>
                Stopping Your gamblinig addictioin one step at a time.
            </aside>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>

        <article>
            <h3 id="why">Why Gambling is Addictive</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>

        <action>
            <a href="/select"><button type="button">Join Now!</button></a>
        </action>
    </main>



    <footer>
        <pre>
            Sources:
            https://www.therecoveryvillage.com/process-addiction/compulsive-gambling/related/how-to-stop-gambling/#gref

            https://www.recovery.org/support-groups/gamblers-anonymous/

            https://www.gamblinghelponline.org.au/making-a-change/taking-control/tools-for-quitting

            https://www.highspeedtraining.co.uk/hub/why-is-gambling-addictive/
        </pre>
    </footer>

</body>

</html>