<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
</head>

<body>
    <h1>Select a Game!</h1>
    <h2>remember the facts. Think before you do!</h2>

    <div class="flex-contain">
        <a href="/slots"><img src="slots"></a>
        <a href=""><img src="lottery"></a>
        <a href=""><img src="cards"></a>
        <a href=""><img src="dice"></a>
        <a href=""><img src="wheel"></a>
        <a href=""><img src="loot"></a>
    </div>

<footer>
    <a href="/home"><button type="button">Exit</button></a>
</footer>
</body>

</html>